/*Large Devices*/
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
  }

.row{
    width:100%;
}

.box{
    background-color: rgb(146, 153, 151);
    position: relative; 
    height:220px;
    float:left;
    padding-left: 10px;
    /* margin:8px;  */
    border:solid black 1px;
}
 section{
    clear:right;
 }

 .search{
    width:100%;
    background-color: gray;
    height:40px;
    padding:2px;
 }

.smallbox{
    height:60px;
    border:solid black 1px;
    padding:19px; 
    width:100px;
    position: relative;
    top:0;
    float:right;
    font-size: 125%;
}

.chicken{
    background-color: pink;
}

.beef{
    background-color: rgb(255, 43, 78);
    color:white;
}
.sushi{
    background-color: rgb(251, 251, 153);
}

.title{
    padding: 5%;
    font-size: 175%;
    position:relative;
    left:40%;
}

@media (min-width:992px){
    .col-md-4 {
        width: 32%;
        margin:0.665%
      }
}

/*Medium Devices*/
@media (min-width:768px) and (max-width:991px){
    .col-md-12 {
        width: 98%;
        margin:1%;
      }
    .col-md-6 {
        width: 48%;
        margin:1%;
      }

}

/*Small Devices*/
@media (max-width:767px){
    .col-md-12 {
        width: 98%;
        margin:1%;

      }

}