*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    padding: 10px;
    border-bottom: 1px solid black;
}

table, td{
    border: 1px solid black;
}

body{
    background-color: #d0f7fb;
}

.letrabold{
    font-weight: bold;
    opacity: 1;
}

.pregunta{
    font-size: 1.5em;
}

h1{
    opacity: 1;
}

header{
    /* background-image:url("../images/ocean.jpg");
    opacity: 0.2; */
    height: 170px;
    margin: 0px;
    padding:0px;
    padding-top: 10px;

}